html, body, ul, li, ol, h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
body{padding:1em;font-size: 14px;}
a{text-decoration:none; color:#519aff}
.nav{overflow:hidden; list-style:none; border-bottom:1px solid #cccccc; padding:0.5em; margin-bottom:0.5em;}
.nav li{list-style:none; float:left;}
.nav li:after{content:"|"; display:inline-block; padding:0 1em; color:#cccccc; font-size:14px;}
.nav li:last-child:after{display:none;}

input[type=button], button{padding: 0.25em 1em;cursor:pointer;}